.Header{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e3e4e5;
    box-shadow: 0 1px 3px rgba(0,0,0,.04);
    z-index: 20;
    position: fixed;
    top: 0;
}
.Header_content{
    margin: auto;
    width: 100%;
    height: 70px;
    max-width: 1150px;
}
a{
    text-decoration: none;
    color: var(--textColor)
}
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.g-20 {
    gap: 40px;
}
.align-center{
    align-items: center;
}
.navigation {
    display: flex;
    gap: 20px;
}
.branding{
    margin-right: 30px;
}
.nav_item a{
    color: var(--textColor);
    font-family: RobotoRegular;
    font-size: 16px;
    transition: all .2s ease;
}
.nav_item a.active{
    color: var(--primaryColor);
    transition: all .2s ease;
}


.tag_line{
    font-family: RobotoRegular;
    font-size: 16px;
    color:var(--textColor);
    font-weight: 500;
    
}
.userAction{
    gap:20px;
    width: 300px;
    position: relative;
    justify-content: flex-end;
}
.avatar{
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primaryColor);
    border: none;
    cursor: pointer;
    color: var(--textWhite)
}

.setting {
    position: absolute;
    top: 50px;
    background: var(--textWhite);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    min-height: 51px;
    border : 1px solid #e3e3e3;
    z-index: 999
}

.setting.active{
    display: block;
}
.setting.close{
    display: none;
}

p.account-title {
    font-size: 14px;
    color: #8e8e8e;
    font-family: RobotoRegular;
}

span.account-email {
    font-size: 14px;
    color: #17262b;
    font-family: RobotoMedium;
}
.account_info{
    margin-bottom: 10px;
}
.setting_link{
    margin-top: 10px;
}

.setting_item{
    margin: 3px 0;
    padding: 5px;
}
.setting_item:hover{
    background-color: #e3e3e3;
    border-radius: 4px;
    color: var(--primaryColor);
}
.setting_item a{
    font-size: 16px;
    font-family: RobotoRegular;
    color: var(--textColor);
}